body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 90vw;
    background-color: rgb(68, 64, 64);
}
#title {
    color: white;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

hr {
    width: 500px;
}
/*rules section */
#rules-icon {
    width: 20px;
    height: 20px;
    position: absolute;    
}
#rulestext{
    color: white ;
}
.gfg {
    margin: 3%;
    position: relative;
}
/*hangman image */ 
#image {
    background-image: url(/images/forca.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 230px;
}
/* guessing word */
#secretword {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 15px;
    margin: 25px;
}
.sletters {
    width: 16px;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}
/* keyboard */
#keyboard {
    margin-top: 30px;
}
.kletter button {
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow:  0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgrey;  
    color: #0a000a;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.kletter button:hover{
    transform:scale(1.3);
}